page-home {

}
#contenido{
  background-image: url('../../assets/imgs/bg.BMP');
  background-repeat: no-repeat;
  background-position-x:30%;
  background-position-y: -100%;
}

  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1em;
  }

  h5{
    font-size: 0.9em;
    text-align: center;
  }

  #gups{
    font-size: 0.9em;
    text-align: center;
    text-decoration: underline;
  }

  .piePagina{
    text-align: center;
    text-decoration: underline;
    font-size: 0.5em;
  }

  .titulo{
    text-align: center;
    font-weight: bold;
  }

  .imagen{
    text-align: center;
  }

  img{
    width:40%;
  }