// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.activeHighlight{
  background-color: map-get($map: $colors, $key: dark-light);
}

h1{
    font-size: 2em;
  }
h2{
    font-size: 1em;
}
h5{
    font-size: 0.9em;
    text-align: center;
}

.contenido{
  background-image: url('../../assets/imgs/bg.BMP');
  background-repeat: no-repeat;
  background-position-x:30%;
  background-position-y: -100%;
}

.centrado{
  text-align: center;
}

.parrafo{
  margin: 20px;
  text-align: justify;
}

.bordeado{
  border:1px solid black;
  border-radius: 5px;
}

.anchuraTotal{
  width:100%;
}

.justificado{
  text-align: justify;
  letter-spacing: 0.025em;
}
