<div *ngIf="isLogged; else requestPassword">
  <!-- MENU IZQUIERDO -->
  <ion-menu id="leftMenu" [content]="content" side="left" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Teoría</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button menuClose="leftMenu" ion-item *ngFor="let p of pagesLeft" [class.activeHighlight]="checkActive(p)"
          (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- MENU DERECHO -->
  <ion-menu id="rightMenu" [content]="content" (ionClose)="collapseMenuOptions()" side="right" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title style="text-align: center">Técnicas</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <side-menu-content [settings]="sideMenuSettings" [options]="options" (change)="onOptionSelected($event)"></side-menu-content>
    </ion-content>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>

<!-- LOGIN -->
<ng-template #requestPassword>

  <div class="centrado">
      <h1><b>Moo Duk Kwan</b></h1>      
      <p>
        <img src="../assets/imgs/logo-sbd.png" alt="">
      </p>
  </div>

  <form (ngSubmit)="iniciarSesion()">
    <ion-item>
      <ion-label color="primary" floating>Contraseña</ion-label>
      <ion-input name="password" [(ngModel)]="myPassword" type="password"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Aceptar</button>
  </form>
</ng-template>