page-home {

}

#gups{
    font-size: 0.9em;
    text-align: center;
    text-decoration: underline;
  }

  .piePagina{
    text-align: center;
    text-decoration: underline;
    font-size: 0.5em;
  }

  .titulo{
    text-align: center;
    font-weight: bold;
  }

  img{
    width:40%;
  }